<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.filipenegrao.KeyboardIncrementClass</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ChangeKeyboardIncrement</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>UpdateFeedURL</key>
	<string>https://github.com/filipenegrao/Glyphs-App-Plugins/blob/master/ChangeIncrement.glyphsPalette/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/filipenegrao/Glyphs-App-Plugins</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Filipe Negrão (@filipenegrao), 2018</string>
	<key>NSPrincipalClass</key>
	<string>KeyboardIncrementClass</string>
</dict>
</plist>
