<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.filipenegrao.KeyboardIncrement</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IncrementChanger</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/filipenegrao/Keyboard-Increment/master/KeyboardIncrement.glyphsPalette/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/filipenegrao/Keyboard-Increment</string>
	<key>productReleaseNotes</key>
	<string>Initial Commit</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Filipe Negrão, 2020</string>
	<key>NSPrincipalClass</key>
	<string>KeyboardIncrement</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
